/* src/components/Calendar/styles/LeftCalendarPanel.css */

.left-calendar-panel {
    width: 250px;
    padding: 10px;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
  }
  
  .left-calendar-panel .react-calendar {
    width: 100%;
    border: none;
  }
  
  .left-calendar-panel .react-calendar__tile--now {
    background: #e6f7ff;
  }
  
  .left-calendar-panel .react-calendar__tile--active {
    background: #0078D4;
    color: white;
  }
  
  .left-calendar-panel .react-calendar__navigation button {
    color: #0078D4;
  }
  
  .left-calendar-panel .react-calendar__navigation button:enabled:hover {
    background-color: #e6f7ff;
  }
  
  .left-calendar-panel .react-calendar__tile:hover {
    background-color: #f0f0f0;
  }