.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    position: static;
    bottom: 0;
    left: 0;
    margin-top: 30px;
}

.footer p {
    margin: 0;
}

.center-column-footer {
    text-align: left
}

.last-column-footer {
    text-align: left
}