.menu, .menu-logo, .menu-tabs, .menu-tab, .menu-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: fixed; /* Меню фиксированное */
    top: 30px; /* Отступ от верхней части страницы */
    left: 60px; /* Отступ от левого края */
    width: 195px; /* Фиксированная ширина меню */
    height: calc(100vh - 30px); /* Высота на весь экран с учетом отступа сверху */
    background-color: #F2F3F4;
    border-radius: 20px;
    z-index: 1000; /* Убедимся, что меню над хедером */
    overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
}

.menu-logo {
    margin-top: 20px;
    justify-content: center;
    border-radius: 200px;
    width: 117px;
    height: 54px;
    cursor: pointer;
}

.menu-tabs {
    margin-top: 40px;
    gap: 5px;
}

.menu-tab {
    border-radius: 20px;
    height: 40px;
    width: 165px;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 5px;
    padding-left: 20px;
}

.menu-tab:hover {
    color: #0C8CE9;
}

.menu-tab img {
    width: 24px;
    height: auto;
}

.menu-tab:hover img, .header-notifications:hover img, .slide-btns img:hover {
    filter: invert(30%) sepia(100%) saturate(5000%) hue-rotate(190deg) brightness(95%);
}

.menu-selected-tab, .menu-selected-tab:hover {
    background-color: #0C8CE9;
    height: 40px;
    color: #FFFFFF;
    font-weight: 500;
    justify-content: center;
    padding: 0;
}

.menu-selected-tab img, .menu-selected-tab:hover img {
    filter: invert(1) brightness(2);
}

.menu-profile {
    margin-top: auto; /* Располагаем профиль внизу меню */
    margin-bottom: 20px; /* Добавляем отступ снизу */
    width: 100%;
    align-items: center;
}

.menu-divider {
    width: 165px;
    height: 1px;
    background-color: #C0C0C0;
    margin: 10px 0;
}