p{
  margin: 0;
}

#root{
  display: grid;
  justify-items: center
}





/* Общие стили для всех разрешений */
.App {
  position: relative;
  margin: 0 auto; /* Центрируем приложение по горизонтали */
}

.page-content {
  position: absolute;
  top: 70px; /* Отступ сверху под шапку */
  display: flex;
  flex-direction: column;
}

/* Стили для разрешения 1920x1080 */
@media screen and (min-width: 1920px) {
  .App {
    width: 1920px;
    height: auto;
  }

  .page-content {
    width: 1600px;
    left: 160px;
  }
}

/* Стили для разрешения 1680x1050 */
@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .App {
    width: 1680px;
  }

  .page-content {
    width: 1400px;
    left: 140px;
  }
}

/* Стили для разрешения 1440x900 */
@media screen and (min-width: 1440px) and (max-width: 1679px) {
  .App {
    width: 1440px;
  }

  .page-content {
    width: 1095px;
    left: 125px;
  }
}

/* Стили для разрешения 1366x768 */
@media screen and (min-width: 1366px) and (max-width: 1439px) {
  .App {
    width: 1366px;
  }

  .page-content {
    width: 1000px;
    left: 100px;
  }
}

/* Стили для разрешения 1280x720 */
@media screen and (max-width: 1365px) {
  .App {
    width: 1280px;
  }

  .page-content {
    width: 960px;
    left: 80px;
  }
}







.bg-close{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* background-color: #00000038; */
  z-index: 25;
}



.icon-container{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plug{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-container img{
  height: 24px;
  width: 24px;
}

.icon-container:hover img{
  filter: invert(30%) sepia(100%) saturate(5000%) hue-rotate(190deg) brightness(95%);
}

.icon-rotate{
  transform: rotate(90deg);
}

.non-active-img, .non-active-img:hover, .non-active-img-container:hover img { 
  filter: invert(100%) grayscale(100%) brightness(70%);
  cursor: default;
}

.non-active-img-container {
  cursor: default;
}

@-moz-document url-prefix() {
  .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #A9A9A9 transparent;
      scrollbar-arrow-color: transparent;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
background: transparent;
border: 1px solid #A9A9A9;
border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
background-color: #A9A9A9;
border-radius: 20px;
border: 3px solid #A9A9A9;
}